<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3 Page Template</title>
        <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            d3.select("Body").append("h1").html("My beautiful text")
            d3.select("body").append("p").html("Look at me, I'm a paragraph.")
            d3.select("body").append("p").html("And I'm another paragraph!")
            d3.select("body").append("p").html("Woohoo! number 3 baby")
            d3.select("p").append("span").html("and I'm a span!")
            d3.select("p").style("color","red")
        </script>
    </body>
</html>